@model WebAPIclient_core.Models.FizzBuzzElement


@{
    ViewData["Title"] = "FizzBuzz";
}

<form asp-action="Generate">
    <div class="form-group">
        <label asp-for="Number" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Number" class="form-control" />
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Validate" class="btn btn-default" />
        </div>
    </div>
    <div>
        @Html.DisplayNameFor(model=>model.Response)
    </div>

</form>